body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: auto;
  text-align: center;
  height: 400px;
  width: 500px;
}

#output {
  padding: 20px;
}

button {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(0, 223, 37);
  height: 140px;
  width: 140px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

button:hover {
  background-color: red;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}